body {
    margin: 0;
    background-color: #212121;
    color: #eee;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container {
    border: 1px solid #ccc;
    padding: 1.25em;
    border-radius: 15px;
    background: #151515;
    box-shadow: 0 0 15px #000000b0;
    min-width: 320px;
}

header {
    margin-bottom: 1em;
    text-align: center;
}

header h1 {
    margin-top: 0;
}

.ttt-game {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
}

.ttt-game .square {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 96px;
    display: grid;
    place-content: center;
    transition: transform .3s ease, background-color .3s ease;
    font-size: 2.5em;
    user-select: none;
}

.ttt-game .square:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #111;
}

.ttt-current-turn {
    text-align: center;
    margin-top: 1em;
}

.ttt-current-turn h2 {
    margin-bottom: .5em;
}

.ttt-result {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.ttt-result button {
    border: 0;
    background: #fff;
    color: #000;
    font-size: .9em;
    padding: .5em 1em;
    border-radius: 2em;
    font-weight: bold;
    margin-left: 1em;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: .5em;
}

.ttt-result button:hover {
    cursor: pointer;
}