#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.trail {
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #00000097;
  border: 1px solid #ddd;
  transform: translate(-2.5em, -2.5em);
}


